# Map data
backend/data/
!backend/data/waypoint_images/
!backend/data/waypoint_images/_default.webp
!backend/data/profile_images/
!backend/data/profile_images/_default.webp

# Planetiler
backend/scripts/planetiler.jar

# Godot
game/.godot/
game/android/

# Backend
backend/node_modules/
backend/dist/
backend/.keys/
backend/.env
*.db
