# Map data
backend/data/

# Planetiler
backend/scripts/planetiler.jar

# Godot
game/.godot/
game/android/

# Backend
backend/node_modules/
backend/dist/
backend/bun.lock
backend/.keys/
backend/.env
*.db
